# Core data & ML
pandas
numpy
scikit-learn
tqdm
joblib

# Environment & config
python-dotenv

# Reddit API
praw

# Hugging Face
transformers
huggingface_hub
safetensors

# Deep Learning
torch
datasets

# Optimization
optuna

# Dashboard
streamlit

# Visualization & reports
matplotlib
seaborn
